{% load static %}
{% for skuclassifications in skuclassifications %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{skuclassifications.name}}</td>
    <!-- <td><label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></td> -->
    <!-- <td>{{skuclassifications.is_active}}</td> -->
    <td>
        <div class="dropdown dropstart">
            <button class="btn" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#" class="dropdown-item skuclassification-edit" data-bs-toggle="modal" id="skuclassification-edit"
                  data-bs-target="#addFormModal" data-skuclassification-id="{{skuclassifications.id}}">Edit</a></li>
              <li><a class="dropdown-item " href="javascript:;" onclick="Delete_sku_classification({{skuclassifications.id}})">Delete</a></li>
            </ul>
          </div>
    </td>
<tr>
{% endfor %}













