{% load static %}
{% for divisions in divisions %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{divisions.name}}</td>
    <td>{{divisions.sku_classification.name}}</td>
    
    {% if divisions.screen %}
    <td>yes</td>
    {% else %}
    <td>No</td>
      
    {% endif %}
      <!-- <td><label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label></td> -->
    <!-- <td>{{divisions.is_active}}</td> -->
    <td>
        <div class="dropdown dropstart">
            <button class="btn" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#" class="dropdown-item division-edit" data-bs-toggle="modal" id="division-edit"
                  data-bs-target="#addFormModal" data-division-id="{{divisions.id}}">Edit</a></li>
              <li><a class="dropdown-item " href="javascript:;" onclick="DeleteDivision({{divisions.id}})">Delete</a></li>
            </ul>
          </div>
    </td>
<tr>
{% endfor %}













