<div class="formbg-inner">
    <div class="edit-brand-form">
        {% if id %}
            <input type="hidden" value="{% url 'appproductapp:update_brand' id %}" id="form_url" name="form_url">
        {% else %}
            <input type="hidden" value="{% url 'appproductapp:create_brand' %}" id="form_url" name="form_url">
        {% endif %}            
        <div class="field padding-bottom--24">
            <label for="name">Name</label> {{form.name}}
            <p class="text-danger mt-2 mb-0">{{ form.name.errors.as_text  }}</p>
        </div>

        <div class="field padding-bottom--24">
            <label for="name">Division</label> {{form.division}}
            <p class="text-danger mt-2 mb-0">{{ form.division.errors.as_text  }}</p>
        </div>
        <div class="field padding-bottom--24 mt-5">
            <input class="btn btn-primary" id="brand-submit" type="submit" name="submit" value="Save">
        </div>
    </div>
</div>
