{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


<section class="section dashboard container " style="margin-left: 295px; margin-top: 100px; width: 78%;">
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <input type="hidden" value="" id="load_country">
                           
                            <div class="justify-content-end d-flex align-items-end mb-2">
                                <a href="" class="btn" style="background-color: #6f42c1; color: white;" id="create_country"
                                    data-bs-toggle="modal" data-bs-target="#addFormModal">Add New<i
                                        class="bi bi-plus"></i></a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sl.NO</th>
                                        <th>Name</th>
                                        <!-- <th>Status</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="brand-tbody">
                                    {% include 'country/country_list.html' %}
                                </tbody>
                            </table>



                            <div class="pagination-outer align-items-center justify-content-between d-flex" id="country-pagination">
                                {% include 'country/pagination.html' %}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="addFormModal" tabindex="-1" aria-labelledby="addFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="popup_head">Add Country</h2>
                <!-- <h5 class="" id="formModalLabel">Add </h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Floating Labels Form -->
                <form method="post" action="" class="CountryForm" id="CountryForm" name="CountryForm">
                    {% csrf_token %}
                    <div class="" id="country-form-div">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block page_script %}
<script src="{% static 'assets/js/masters_ajax.js' %}"></script>
{% endblock page_script %}
