{% load static %}
{% for regions in regions %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{regions.name}}</td>
    <td>{{regions.country.name}}</td>
    <!-- <td><label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></td> -->
    <!-- <td>{{regions.is_active}}</td> -->
    <td>
        <div class="dropdown dropstart">
            <button class="btn" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#" class="dropdown-item region-edit" data-bs-toggle="modal" id="region-edit"
                  data-bs-target="#addFormModal" data-region-id="{{regions.id}}">Edit</a></li>
              <li><a class="dropdown-item " href="javascript:;" onclick="DeleteRegion({{regions.id}})">Delete</a></li>
            </ul>
          </div>
    </td>
<tr>
{% endfor %}













